In [1]:
import numpy as np
from matplotlib import pyplot as plt
from numpy import random as rnd
import warnings,os,datetime,time

import torch
import pandas as pd

from keras.models import Sequential,Model
from keras.layers import Dense,BatchNormalization,Dropout,LSTM,Concatenate,Activation,Input

from bs4 import BeautifulSoup

C:\Users\Jan\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
basedir = '..//..//..//TF_data//BLOGENTRIES//blogs//'

files = os.listdir(basedir)[:250]

df = pd.DataFrame()
for c_file in files:
    
    try:
        with open(basedir+c_file) as fp: soup = BeautifulSoup(fp, 'xml')
    except:
        continue
    cells = soup.findAll(['date','post'])

    data = []
    for k in range(0,len(cells),2):
        data.append([
            str(cells[k]).replace('<date>','').replace('</date>','').replace(',','-'),
            str(cells[k+1]).replace('<post>','').replace('</post>','').replace('\n','').replace('\t','').lstrip().rstrip()
        ])
    cf = pd.DataFrame(data).rename(columns={0:'Date Post',1:'Text Post'})
    c_ID,c_Gender,c_Age,c_Topic,c_AstroSign = c_file.split('.')[:-1]

    cf['ID Poster'] = c_ID
    cf['Gender Poster'] = c_Gender
    cf['Age Poster'] = c_Age
    cf['Topic Channel'] = c_Topic
    cf['Astro Sign Poster'] = c_AstroSign
    
    df = pd.concat([df,cf]).reset_index(drop=True)

In [9]:
df

,Date Post,Text Post,ID Poster,Gender Poster,Age Poster,Topic Channel,Astro Sign Poster
0,31-May-2004,"Well, everyone got up and going this morning. ...",1000331,female,37,indUnk,Leo
1,29-May-2004,My four-year old never stops talking. She'll ...,1000331,female,37,indUnk,Leo
2,28-May-2004,"Actually it's not raining yet, but I bought 15...",1000331,female,37,indUnk,Leo
3,28-May-2004,Ha! Just set up my RSS feed - that is so easy!...,1000331,female,37,indUnk,Leo
4,28-May-2004,"Oh, which just reminded me, we were talking ab...",1000331,female,37,indUnk,Leo
...,...,...,...,...,...,...,...
30086,01-January-2004,Happy new year to one and all. It appears the...,1222749,male,37,indUnk,Capricorn
30087,13-February-2004,Sad News urlLink New Zealand Backpacker kil...,1222749,male,37,indUnk,Capricorn
30088,01-February-2004,"Forget About Tomorrow Calling, distorting...",1222749,male,37,indUnk,Capricorn
30089,25-March-2004,""" Into the below"" "" Ty Ray OK "" ...",1222749,male,37,indUnk,Capricorn
30090,03-June-2004,My matey Rabbit has made the news for all the...,1222749,male,37,indUnk,Capricorn